
.grid-container-small {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
}

.row {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 100px;
    margin: 150px;
    position: relative;
    top: -100px;
}

.small-button {
    width: 250px;
    padding: 15px;
    background-color: transparent;
    color: var(--clr-neon, #14f7ff);
    font-size: 18px;
    font-weight: bold;
    border-radius: 30px;
    cursor: pointer;
    border: var(--clr-neon, #14f7ff) 0.125em solid;
    transition: background-color 0.3s, opacity 100ms linear;
    margin-top: 15px;
    min-height: 60px;
}
