
.reset-password {
    display: block;
    margin-top: 30px;
    color: #fff;
    text-decoration: none;
    font-family: 'Heebo', bold;
    text-align: center;
    transition: all 0.3s ease;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.reset-password:hover {
    background-color: #1e1d1d33;
    padding: 10px 20px;
    border-radius: 20px;
    box-shadow: 0 0 10px #141414;
    text-decoration: none;
    color: #fff;
    max-width: 100px;
}
